* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: inherit;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

:root {
    font-size:16px;
    line-height:1.5rem;
    font-family: "cabin", sans-serif;

    --sidebar-green: rgb(50, 97, 20);
    --sidebar-green-hover: rgb(59, 118, 22);
    --white:rgb(246, 245, 245);
    --grayish:rgb(226, 224, 224);
}

body {
    min-width: 100vw;
    min-height:100vh;
    display:grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: var(--sidebar-green);

    padding: 10px 40px;
    
    display: grid;
    grid-template-rows: 100px 1fr;
    color:var(--white);
    z-index: 2;
}

nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(10, 40px);
    gap: 5px;
    font-size: 1.5rem;
}

.logo-text {
    display:flex;
    gap: 10px;
    align-items: center;
    font-size: 1.3rem;
}

header {
    background-color: var(--white);
    box-shadow: 0px 10px 50px rgb(131, 131, 131);
    z-index: 1;
    padding: 20px 30px;

    color:black;

    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;

    font-weight: 600;
}

.search {
    display:grid;
    grid-template-columns: 1fr 15fr;
    align-items:center;

}

.search input {
    background-color:var(--grayish);
    border-radius: 25px;
    font-size: 1rem;
}

.profile {
    justify-self:end;

    display: grid;
    grid-template-columns: min-content min-content auto;
    align-items: center;
    justify-items: end;
    gap: 20px;

    font-size:1.125rem;
}

.profile img {
    width:4vw;
    border-radius: 50%;
}

.user-info {
    display:grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;
    gap:0px 30px;

    align-items: center;
}

.user-info img {
    width:5vw;
    border-radius:50%;
    grid-row: 1 / 3;
}

.greeting {
    align-self:end;
}

.username-large {
    font-size:1.5rem;
}

.actions {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: end;
    gap: 10px;

    justify-self:end;
}

.actions button {
    background-color: var(--sidebar-green);
    border: 1px solid var(--sidebar-green);
    border-radius: 20px;
    padding:10px 40px;

    font-size:1.1rem;
    color:var(--white)
}

.actions button:hover {
    background-color: var(--sidebar-green-hover);
}

main {
    background-color: var(--grayish);
}